.App {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Style pour la classe 'p-5' */
.p-5 {
  padding: 20px; /* Adapté pour le padding de 20px */
}

/* Style pour la classe 'bg-light' */
.bg-light {
  background-color: #f4f4f4; /* Couleur de fond légère */
}

/* Style pour la classe 'bg-white' */
.bg-white {
  background-color: #fff; /* Couleur de fond blanche */
}

/* Style pour la classe 'shadow' */
.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Style pour la classe 'border' */
.border {
  border: 1px solid #ddd; /* Bordure de 1px solide avec couleur #ddd */
}

/* Style pour le champ de recherche */
.from-controle {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style pour la table */
.table {
  width: 100%;
  border-collapse: collapse;
}

/* Style pour les cellules de la table */
.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Style pour les en-têtes de la table */
.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

